* > body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#grid {
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#output-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    font-family: Consolas;
    padding: 30px;
    border-radius: 5px;
    min-width: 200px;
}

.square {
    font-size: 3rem;
    background-color: #121212;
    color: white;
}

.square:active:not(:disabled) {
    border-style: inset;
    border-width: 3.5px;
}

.square:hover:not(:disabled):not(:active) {
    background-color: black;
    border-width: 3px;
    border-style: outset;
}

@media screen and (max-width: 400px) {
    #grid {
        width: 90vw;
        height: 90vw;
    }
    #output-text {
        font-size: 1em;
        min-width: 0px;
    }
}